<% provide(:title, "用途") %>
<div class="container font_color">
  <h1 class="featurette-heading text-center border-bottom border-info">PFCバランサーとは</h1>

      <div class="row">
          <p class="about-text">PFCバランサーは、「健康で理想的な体型」になる為のアプリになります。</p>
          <p class="about-text">日々の食事内容を可視化して、取り過ぎている栄養素や足りない栄養素を調整し、食事を管理していきましょう。</p>
          <p class="about-text">バランスよく食事を摂取して、健康で理想的な体型を目指しましょう！</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette ">
          <h1 class="text-center border-bottom border-info">使い方(登録)</h1>
          <p class="about-text">検索フォームに食べた食材を入力してください。</p>
          <%= image_tag 'search_v4 2021-05-13 18.02.37.png', class: 'image-size' %>
          <p class="about-text">検索ボタンを押すと該当する食材が表示されます</p>
          <p class="about-text">その中からご自身が食べた食材をを探し、摂取量と摂取した時間帯を入力した後、保存ボタンを押してください。</p>
          <%= image_tag 'search_v2 2021-05-13 12.04.35.png', class: 'image-size' %>
          <p class="about-text">食事内容が保存されます。</p>
          <%= image_tag 'search_v3 2021-05-13 12.04.43.png', class: 'image-size' %>
      </div>

      <hr class="featurette-divider">

      <div class="">
        <h1 class="text-center border-bottom border-info">使い方(編集・削除)</h1>
          <p class="about-text">食事内容を編集したい場合は、編集ボタンを押します。</p>
          <%= image_tag 'edit_v1 2021-05-13 12.05.17.png', class: 'image-size' %>
          <p class="about-text">編集画面になるので、摂取量や摂取した時間帯を修正してください。</p>
          <%= image_tag 'edit_v2 2021-05-13 12.05.35.png', class: 'image-size' %>
          <p class="about-text">修正後は保存ボタンを押すことで記入内容が反映されます。</p>
          <%= image_tag 'edit_v3 2021-05-13 12.05.41.png', class: 'image-size' %>
          <p class="about-text">食事内容を削除したい場合は、削除したい食材の削除ボタンを押してください。</p>
          <%= image_tag 'delete_v1 2021-05-13 18.27.04.png', class: 'image-size' %>
          <p class="about-text">削除ボタンを押した食品が削除され、反映されます。</p>
          <%= image_tag 'delete_v2 2021-05-13 12.06.05', class: 'image-size' %>

      </div>

</div>
