<% provide(:title, "更新") %>

<div class="container font_color">
  <h1 class="text-center page-header">プロフィールの編集</h1>
    <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "アカウントを更新する", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "プロフィール画面に戻る", user_path(current_user), class: 'btn btn-info btn-block bth-top'  %>
    <%= link_to "アカウントを削除する", user_path(current_user), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger btn-block bth-top' %>
</div>
</div>
