<% provide(:title, "PFC管理") %>

<%= form_with url: "/foods.#{@path}", method: :get, local: true do |f| %>
  <div class="input-group">
  <%= f.text_field :name, placeholder: "摂取した食品を入力してください", required: true, class: "form-control" %>
  <span class="input-group-btn">
  <%= f.submit "検索", class: "btn btn-primary" %>
  </span>
  </div>
  <% if @response.code == "400" %>
    <div class="alert alert-warning">
      <p>空白が含まれる為、検索できません</p>
    </div>
  <% end %>
  <%= f.hidden_field :date, :value => @path %>
<% end %>

<% unless @food_information.blank? %>
<div class="table-responsive">
<h3>検索結果</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="danger">
      <th>食品名</th>
      <th>たんぱく質</th>
      <th>炭水化物</th>
      <th>脂質</th>
      <th>食塩</th>
      <th>カロリー(100g)</th>
      <th>摂取量(g)</th>
      <th>時間</th>
      <th>保存</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'shared/food_information'%>
  </tbody>
</table>
</div>
<% end %>


<div class="table-responsive">
<h2><%= @path.strftime('%m月%d日')%>摂取量</h2>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr class="warning">
      <th>食品名</th>
      <th>たんぱく質</th>
      <th>炭水化物</th>
      <th>脂質</th>
      <th>食塩</th>
      <th>カロリー(100g)</th>
      <th>摂取カロリー</th>
      <th>摂取量(g)</th>
      <th>時間</th>
    <% if @edit_food == 1 %>
      <th><%= link_to "編集", {action: :index, bottun: 2, :format => params[:format]} %></th>
    <% else %>
      <th><%= link_to "編集終了", {action: :index, bottun: 1, :format => params[:format]} %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% if @edit_food == 1 %>
    <%= render 'shared/foods_management'%>
  <% end %>

  <% if @edit_food == 2 %>
    <%= render 'shared/foods_management_edit'%>
  <% end %>
  </tbody>
</table>
</div>


<h3>今月のカロリーカレンダー</h3>
<%= month_calendar do |date| %>
  <%= date.day %>
  <p>合計カロリー</p>
<% if @all_foods.present? %>
  <%= link_to @all_foods.where(date: date).sum(:total_calories), foods_path(date) %>
<% end %>
  kcal
<% end %>
