<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
          <%= link_to "PFCバランサー", root_path, id: "logo", class:"navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample8">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li><%= link_to "PFC管理", foods_path %></li>
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
             <% if logged_in? && current_user.admin? %>
             <li><%= link_to "ユーザー管理", users_path %></li>
             <% end %>
            <% else %>
            <li><%= link_to "TOP", root_path %></li>
            <li><%= link_to "用途", about_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</header>
